@page
@model DetailModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-between mb-2">
    <p class="lead">Guest <b>ID @Model.Guest</b> with @Model.Orders.Count() order(s) </p>

    <div class="btn-toolbar">
        <div class="btn-group mr-2" role="group">
            <a asp-page="Detail" asp-route-guest="@Model.Guest" class="btn btn-link mt-1">
                Check for new deliveries
            </a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#order-menu" data-remote="@Url.Page("../Menu",new {guest = Model.Guest})">
                + Place new order
            </button>
            @if(Model.Bill != null)
            {    
                <form method="POST" class="btn btn-outline-secondary">
                    <input class="btn" type="submit" asp-route-guest="@Model.Guest" asp-page-handler="RequestBill" value="Request an updated bill" />
                </form>
            } else {
                <form method="POST" class="btn btn-outline-secondary h-100">
                    <input class="btn" type="submit" asp-page-handler="RequestBill" asp-route-guest="@Model.Guest" value="Request bill" />
                </form>
            }
        </div>
    </div>
</div>

@if(!string.IsNullOrWhiteSpace(Model.Warning))
{
    <div class="alert alert-warning">
        @Model.Warning
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<vc:bills guest="@Model.Guest"></vc:bills>

<partial name="_Orders" for="@Model.Orders" />

<div class="modal" data-has-remote tabindex="-1" id="order-menu">
  <div class="modal-dialog modal-xl">
  </div>
</div>

