@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if(Model.Menu != null)
{
    <div>
        Your guest number is <b>@Model.Menu.Guest</b>
    </div>    
    <table>
        <caption>Food</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Nutrition</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var foodItem in Model.Menu.Food)
        {
            <tr>
                <td>@foodItem.Name</td>
                <td>@String.Join(", ",foodItem.Nutrition)</td>
                <td>@foodItem.Price</td>
            </tr>
        }
        </tbody>
    </table>
    <table>
        <caption>Drinks</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Nutrition</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var drinkItem in Model.Menu.Drinks)
        {
            <tr>
                <td>@drinkItem.Name</td>
                <td>@String.Join(", ",drinkItem.Nutrition)</td>
                <td>@drinkItem.Price</td>
            </tr>
        }
        </tbody>
    </table>
}
<form method="POST">
    <input type="submit" asp-page-handler="RetrieveMenu" value="Retrieve Menu" />
</form>


