@page
@model OrdersModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card-deck">
    @foreach (var order in Model.Orders)
    {
        <div class="card">
            <div class="card-header">
                Order #<b>@order.Confirmation.Order</b> for Guest <b>@order.Guest</b>
            </div>
             <ul class="list-group list-group-flush">
                 @functions{
                    void RenderItem(OrderViewModel.OrderItem item)
                    {
                           <li class="list-group-item">
                                @item.Name - @item.Price Euros
                                @if(item.ReceivedAt != null)
                                {
                                    <small class="text-success">
                                        Received at @item.ReceivedAt.DeliveredOn (Delivery-ID @item.ReceivedAt.DeliveryId) 
                                    </small>
                                }
                            </li>
                        }
                 }
                    @foreach(var food in order.FoodOrder) {
                        RenderItem(food);
                    }

                    @foreach(var drink in order.DrinkOrder){
                       RenderItem(drink);
                    }
                </ul>
            
            <div class="card-footer">
                Estimated waiting time: @order.Confirmation.WaitingTime
            </div>
        </div>   
    }
</div>